:root {
  --yellow-hex: #fadf75;
  --orange-hex: #f3a468;
  --blue-hex: #90aff4;
  --green-hex: #a2d883;
  --charcoal-hex: #3b4248;
}

header {
  background-image: linear-gradient(
    to right,
    var(--blue-hex),
    var(--green-hex),
    var(--orange-hex)
  );
  height: 8rem;
}

footer {
  background-color: var(--yellow-hex);
  height: 8rem;
}

main {
  margin: 1rem;
}

body {
  padding: 0;
  margin: 0;
}
