:root {
  --yellow-hex: #fadf75;
  --orange-hex: #f3a468;
  --blue-hex: #90aff4;
  --green-hex: #a2d883;
  --charcoal-hex: #3b4248;
}

header {
  background-color: var(--green-hex);
}

footer {
  background-color: var(--blue-hex);
}

main {
  margin: 20px;
}

body {
  padding: 0;
  margin: 0;
}
